:root[data-bs-theme="dark"] {
  --bs-body-bg: #121212;
  --bs-body-color: #e0e0e0;
}

:root[data-bs-theme="light"] {
  --bs-body-bg: #ffffff;
  --bs-body-color: #000000;
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}
